/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282828;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b6b6b6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c6c6c;
}

.container-fluid {
  background: #000000;
  min-height: 100vh;
}
button:focus {
  outline: 0;
}

.upload-btn {
  background-color: #3737ff; /* Green */
  border: 2px solid #3737ff;
  color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.upload-btn:hover {
  background-color: transparent;
}

.sentences-box {
  overflow-y: auto;
  height: 80vh;
}

.result-container {
  text-align: center;
  width: 80%;
}

.card {
  background: black;
  border: 2px solid white;
  margin-bottom: 2px;
}

.score-box {
  height: 40vh;
}

@media (min-width: 768px) {
  .left-col {
    margin-right: 10px !important;
  }
}
